<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/form.css" rel="stylesheet"></link>
</head>
<body>
<body>

<form th:action="@{/form}" th:object="${userForm}" method="post">

	<table>
	    <tr>
	        <th class="cell_title">氏名</th>
	        <th class="cell_required">※</th>
	        <td>
	            <input type="text" th:field="*{name}">
	            <span th:errorclass="error_text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
	        </td>
	    </tr>
	    <tr>
	        <th class="cell_title">E-Mail</th>
	        <th class="cell_required"></th>
	        <td>
	            <input type="text" th:field="*{email}">
	            <span th:errorclass="error_text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	        </td>
	    </tr>
	    <tr>
	        <th class="cell_title">年齢</th>
	        <th class="cell_required">※</th>
	        <td>
	            <input type="number" th:field="*{age}">
	            <span th:errorclass="error_text" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
	        </td>
	    </tr>
		<tr>
			 <th class="cell_title">備考</th>
			 <th class="cell_required"></th>
			 <td>
			     <input type="text" th:field="*{remakes}">
			     <span th:errorclass="error_text" th:if="${#fields.hasErrors('remakes')}" th:errors="*{remakes}"></span>
			</td>
		</tr>
	</table>
    <button class="btn">送信</button>
</form>
</body>
</html>